.App {
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.inline-block {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.spin {
  animation: spinAnimation 1s linear;
}

.image {
  width: 150px;
  height:  150px;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes spinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
